<button (click)="abrirChat()">
</button>

<div *ngIf="chat" class="chat-box">
  <div class="message-box">
    <div class="first-chat">
      <p>Is there any offline versions available for Maxeon Player?</p>
      <div class="arrow"></div>
    </div>
    <div class="second-chat">
      <div class="circle"></div>
      <p>Currently we don't have but we will launch soon.</p>
      <div class="arrow"></div>
    </div>
  </div>
  <div class="input-box">
    <div class="write-reply">
      <input class="inputText" type="text" placeholder="Write a reply..." />
    </div>
  </div>
</div>
