<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body id="background">
    <div class="log-form">
      <h2 id="ingresar">Crea tu cuenta</h2>
      <form (ngSubmit)="registrarse()" class="form">
        <div class="form-group">
          <input type="text" name="mail" title="usuario" placeholder="Mail" [(ngModel)]="usuario.mail" />
        </div>
        <div class="form-group">
          <input type="password" name="clave" title="clave" placeholder="Clave" [(ngModel)]="usuario.clave" />  
        </div>
        <div class="form-group">
          <button type="submit" class="btn">💟 Registrar 💟</button>
        </div>
        <div *ngIf="error == 1" class="error">
            <div class="alert alert-danger" style="margin-top: 15px; font-size: 15px;">
              Email en uso o invalido.
            </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  