<meta charset="utf-8" />
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col text-center">
          <h1 class="text-primary">Ahorcado</h1>
        </div>
      </div>
            
      <div class="row">
        <div class="col text-center">
          <img [src]="imagenAhorcado" alt="Imagen del ahorcado">
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <h1>{{palabraOculta}}</h1>
        </div>
      </div>
      
      
      <div class="row" *ngIf="!gano && !perdio" >
        <div class="col text-center" id="teclado">
          <button
            (click)="comprobar(letra)"
            *ngFor="let letra of letras"
            class="btn-teclado">
            {{letra.toUpperCase()}}
          </button>
        </div>
      </div>
      <div class="row" *ngIf="gano" id="gano">
        <div class="col text-center">
          <h1>Adivinaste! 🤗</h1>
          <div class="container">
            <button type="submit" (click)="goTo('home')">Ir a home</button>
            <span>|</span>
            <button type="submit" (click)="reiniciar()">Volver a jugar</button>  
          </div>        
        </div>
      </div>
      <div class="row" *ngIf="perdio" id="perdio">
        <div class="col text-center">
          <h3>Perdiste 💔</h3>
          <h4>La palabra correcta era: {{palabra}}</h4>
          <div class="container">
            <button type="submit" (click)="goTo('home')">Ir a home</button>
            <span>|</span>
            <button type="submit" (click)="reiniciar()">Volver a jugar</button>  
          </div>    
    
        </div>
      </div>
      
      <div class="row" id="intentos">
        <div class="col text-center">
          <h3>Intentos: <small>{{intentosFallidos}}</small></h3>
        </div>
      </div>
      <app-logout></app-logout> 
      <app-chat></app-chat>
  
</body>