
#background {
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-image: url(../../../assets/login-desktop2.jpg);
    background-repeat: no-repeat;
}

body {
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-image: url(../../../assets/login-desktop2.jpg);
    background-repeat: no-repeat;
}

#titulo{
    color: white;
    font-family: 'Jersey 10 Charted', sans-serif;
}

#gano, #perdio{
    background-color: rgba(238, 31, 190, 0.5);
    color: white;
    width: 300px;
    height: 200px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    text-align: center;
    color: white;
}  

#teclado{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-teclado{
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    background: #f766d0;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    text-decoration: none;  
}

.btn-teclado:hover{
    cursor: pointer;
    background: #f20cc4;
}

#intentos{
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 31, 190, 0.5);
}

button, span{
    background: none;
    color: rgb(255, 255, 255);
    border:none;
    padding: 5px;
    font-weight: bold;
  }
  
button:hover{  
    cursor: pointer;
    text-decoration: underline;
  }