<meta charset="utf-8" />
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body id="background">
  <h1 id="titulo"> Mayor o Menor </h1>
  <div *ngIf="currentCard && intentos < 9">
    <img src="{{currentCard.image}}" alt="">
    <div>
      <div>La carta que sigue es...</div>
      <button (click)="seleccionarMayor()" class="btn">Mayor</button>
      <button (click)="seleccionarMenor()" class="btn">Menor</button>
    </div>
    <h2 id="intentos">Vidas: {{ intentosFallidos }}</h2>
  </div>
  <div class="row" *ngIf="intentos == 9" id="perdio">
    <div class="col text-center">
      <h3>Perdiste 💔</h3>
    </div>
  </div>

</body>