<head>
  <meta charset="utf-8">
  <title>TpSalaDeJuegos</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href=".../assets/favicon.ico">
</head>

<body>
  <div class="form">
    <div class="username">
      <input type="text" placeholder="USERNAME" [(ngModel)]="usuario.nombre"/>
    </div>
    <div class="password">
      <input type="password" placeholder="PASSWORD" [(ngModel)]="usuario.clave"/>
    </div>
    <div class="login">
      <span (click)="login()">log in</span>
    </div>
    <div *ngIf="loginExitoso == 0" class="error">
      <div class="frame">
        <div class="modal">
          <p>No se reconoce la combinacion entre usuario y clave.</p>
          <div (click)="closeError()" class="button">Aceptar</div>
        </div>
      </div>
    </div>
  </div>
</body>
