<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="../../../assets/yo.jpg">
        <div class="about-me">
            <h1>🎀 Flor Galeano 🎀</h1>
            <div>
                Juego propio: hay que hacerle click a los circulitos, si haces click afuera del circulo o tardas mucho perdes una vida, tenes 3 vidas.
                Si acertas 30 veces y no perdes todas las vidas ganas :)
            </div>
        </div>
    </div>
    <app-logout></app-logout>
</body>
