<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="../../../assets/yo.jpg">
        <div class="about-me">
            <h1>🎀 Flor Galeano 🎀</h1>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam totam delectus iusto accusantium, tempora modi atque molestias ipsa. Accusamus cumque ipsam, neque quisquam aut error adipisci odit iste. Id, incidunt?
            </div>
        </div>
    </div>
    <app-logout></app-logout>
</body>
