<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body id="background">
  <h1>Preguntados</h1>
  <div *ngIf="pregunta && !gano && !perdio">
    <img [src]="imagen" alt="Imagen de la película" class="img-pelicula" />
    <div *ngFor="let opcion of opciones">
      <button (click)="verificarRespuesta(opcion)" class="btn-opcion">{{ opcion }}</button>
    </div>
  </div> 
  <div class="row" id="intentos">
    <div class="col text-center">
      <h3>Intentos: <small>{{intentosFallidos}}</small></h3>
    </div>
  </div>
  <div class="row" *ngIf="gano" id="gano">
    <div class="col text-center">
      <h1>Ganaste! 🤗</h1>
      <div class="container">
        <button type="submit" (click)="goTo('home')">Ir a home</button>
        <span>|</span>
        <button type="submit" (click)="goTo()">Volver a jugar</button>  
      </div>    
    </div>
  </div>
  <div class="row" *ngIf="perdio" id="perdio">
    <div class="col text-center">
      <h1>Perdiste 💔</h1>
      <div class="container">
        <button type="submit" (click)="goTo('home')">Ir a home</button>
        <span>|</span>
        <button type="submit" (click)="reiniciar()">Volver a jugar</button>  
      </div>    
    </div>
  </div>

  <app-logout></app-logout> 
  <app-chat></app-chat>

</body>